@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-brand-color: #003459;
  --secondary-brand-color: #F7DBA7;
  --alert-color: #FF564F;
  --accepptance-color: #34C759;
  --primary-state-color: #FF912C;
  --secondary-state-color: #00A7E7;
  --primary-text-color: #242B33;
  --secondary-text-color: #000000;
  --tertiary-text-color: #00171F;
  --primary-subtext-color: #667479;
  --primary-background-color: #FDFDFD;
  --card-background-color: #FFFFFF;
  --primary-font-family: "Roboto", serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body{
  background-color: var(--primary-background-color);
  font-family: var(--primary-font-family);
  color: var(--primary-brand-color);
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--card-background-color);
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: transparent;
  color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  padding: 8px 20px;
}