.hero_container {
  background-image: url(../img/hero/hero-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero__title {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
  z-index: 1;
}

.hero__title-secondary {
  font-size: 60px;
  z-index: 1;
}

.hero__subtitle {
  font-size: 16px;
  color: var(--primary-text-color);
  margin-bottom: 25px;
  line-height: 1.5;
  max-width: 500px;
  z-index: 1;
}

.hero__buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero {
    padding: 20px;
  }

  .hero_container {
    background-image: url(../img/hero/group-portrait-adorable-puppies.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px 20px 20px 20px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__title-secondary {
    font-size: 30px;
  }

  .hero__subtitle {
    font-size: 12px;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 769px) {
  .hero__title {
    font-size: 55px;
  }

  .hero__title-secondary {
    font-size: 35px;
  }
  .hero__subtitle {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 60px;
  }

  .hero__title-secondary {
    font-size: 40px;
  }

  .hero__subtitle {
    font-size: 14px;
  }
}
