.partners {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--primary-background-color);
  border-radius: 8px;
}

.partners__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-brand-color);
  margin-bottom: 30px;
}

.partners__logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.partners__logo {
  width: 100px;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  filter: grayscale(100%);
}

.partners__logo:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .partners__title {
    font-size:30px;
  }

  .partners__logos {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .partners__logo {
    width: 80px;
  }
}
