<footer class="footer">
  <div class="footer__newsletter container">
    <h3 class="footer__newsletter-title">
      Register Now So You Don’t Miss Our Programs
    </h3>
    <form class="footer__newsletter-form">
      <input
        type="email"
        class="footer__newsletter-input"
        placeholder="Enter your Email"
      />
      <button type="submit" class="footer__newsletter-button">
        Subscribe Now
      </button>
    </form>
  </div>
  <div class="footer__links container">
    <a href="category.html" class="footer__link" data-proofer-ignore>Category</a>
    <a href="about.html" class="footer__link" data-proofer-ignore>About</a>
    <a href="contact.html" class="footer__link" data-proofer-ignore>Contact</a>
  </div>
  <div class="footer__social container">
    <a href="https://facebook.com" class="footer__social-link" data-proofer-ignore>Facebook</a>
    <a href="https://twitter.com" class="footer__social-link" data-proofer-ignore>Twitter</a>
    <a href="https://instagram.com" class="footer__social-link" data-proofer-ignore>Instagram</a>
  </div>
  <div class="footer__bottom container">
    <p class="footer__copyright">© 2022 Monito. All rights reserved.</p>
    <div class="footer__brand">
      <img
        src="../img/global/logo.jpg"
        alt="Monito Logo"
        class="footer__logo"
      />
    </div>
    <p class="footer__terms-of-service">Terms of Service</p>
    <p class="footer__privacy-policy">Privacy Policy</p>
  </div>
</footer>