<section class="knowledge container">
  <h2 class="knowledge__title">Useful Pet Knowledge</h2>
  <div class="knowledge__articles">
    <article class="knowledge__article">
      <img
        src="../img/knowledge/what-is-pomeranian.jpg"
        alt="Pomeranian Dog"
        class="knowledge__article-image"
      />
      <h3 class="knowledge__article-title">
        What is a Pomeranian? How to Identify Pomeranian Dogs
      </h3>
      <p class="knowledge__article-excerpt">
        The Pomeranian, also known as the Pomeranian (Pom dog), is always in the
        top of the cutest pets. Not only that, the small, lovely, smart,
        friendly, and skillful circus dog breed.
      </p>
    </article>
    <article class="knowledge__article">
      <img
        src="../img/knowledge/dog-diet.jpg"
        alt="Pomeranian Dog"
        class="knowledge__article-image"
      />
      <h3 class="knowledge__article-title">Dog Diet You Need To Know</h3>
      <p class="knowledge__article-excerpt">
        Dividing a dog's diet may seem simple at first, but there are some rules
        you should know so that your dog can easily absorb the nutrients in the
        diet. For those who are just starting to raise dogs, especially newborn
        puppies with relatively weak resistance.
      </p>
    </article>
    <article class="knowledge__article">
      <img
        src="../img/knowledge/dog-acting-out.jpg"
        alt="Pomeranian Dog"
        class="knowledge__article-image"
      />
      <h3 class="knowledge__article-title">
        Why Dogs Bite and Destroy Furniture and How to Prevent It Effectively
      </h3>
      <p class="knowledge__article-excerpt">
        Dog bites are common during development. However, no one wants to see
        their furniture or important items being bitten by a dog.
      </p>
    </article>
  </div>
  <button type="button" class="knowledge__view-more">View more</button>
</section>
