<section class="catalog container">
  <h2 class="catalog__title">Take A Look At Some Of Our Pets</h2>
  <div class="catalog__items">
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/pomeranian.jpg"
        alt="Pomeranian White"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO321 - Pomeranian White</h3>
        <p class="catalog__item-info">Gender: Male - Age: 02 months</p>
        <p class="catalog__item-price">6,900,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/poodle.jpg"
        alt="Poodle Tiny Yellow"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO502 - Poodle Tiny Yellow</h3>
        <p class="catalog__item-info">Gender: Female - Age: 02 months</p>
        <p class="catalog__item-price">3,900,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/poodle-sepia.jpg"
        alt="Poodle Tiny Sepia"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO102 - Poodle Tiny Sepia</h3>
        <p class="catalog__item-info">Gender: Male - Age: 02 months</p>
        <p class="catalog__item-price">4,000,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/malamute.jpg"
        alt="Alaskan Malamute Grey"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO512 - Alaskan Malamute Grey</h3>
        <p class="catalog__item-info">Gender: Male - Age: 02 months</p>
        <p class="catalog__item-price">8,900,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/corgi.jpg"
        alt="Pembroke Corgi Cream"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO231 - Pembroke Corgi Cream</h3>
        <p class="catalog__item-info">Gender: Male - Age: 02 months</p>
        <p class="catalog__item-price">7,900,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/corgi-tricolor.jpg"
        alt="Pembroke Corgi Tricolor"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO502 - Pembroke Corgi Tricolor</h3>
        <p class="catalog__item-info">Gender: Female - Age: 02 months</p>
        <p class="catalog__item-price">9,000,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/pomeranian-white.jpg"
        alt="Pomeranian White"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO231 - Pomeranian White</h3>
        <p class="catalog__item-info">Gender: Female - Age: 02 months</p>
        <p class="catalog__item-price">6,500,000 VND</p>
      </div>
    </article>
    <article class="catalog__item">
      <img
        src="../img/pet-catalog/poodle-dairy-cow.jpg"
        alt="Poodle Tiny Dairy Cow"
        class="catalog__item-image"
      />
      <div class="catalog__item-details">
        <h3 class="catalog__item-name">MO512 - Poodle Tiny Dairy Cow</h3>
        <p class="catalog__item-info">Gender: Male - Age: 02 months</p>
        <p class="catalog__item-price">5,000,000 VND</p>
      </div>
    </article>
  </div>
  <button type="button" class="catalog__view-more">View more</button>
</section>
