<section class="hero">
  <div class="hero_container container">
    <h1 class="hero__title">One More Friend, Thousands More Fun!</h1>
    <p class="hero__subtitle">
      Having a pet means you have more joy, a new friend, a happy person who
      will always be with you to have fun. We have 200+ different pets that can
      meet your needs!
    </p>
    <div class="hero__buttons">
      <button type="button" class="button hero__button">View Intro</button>
      <button type="button" class="button hero__button">Explore Now</button>
    </div>
    <img
      src="../img/hero/hero-banner.jpg"
      alt="Dog and owner"
      class="hero__image"
    />
  </div>
</section>
