<section class="partners container">
  <h2 class="partners__title">Proud to be part of Pet Sellers</h2>
  <div class="partners__logos">
    <img
      src="../img/partners/sheba-partner.jpg"
      alt="Sheba"
      class="partners__logo"
    />
    <img
      src="../img/partners/wiskas-partner.jpg"
      alt="Wiskas"
      class="partners__logo"
    />
    <!-- Repeat logos as needed -->
    <img
      src="../img/partners/bakers-partner.jpg"
      alt="Bakers"
      class="partners__logo"
    />
    <img
      src="../img/partners/felix-partner.jpg"
      alt="Felix"
      class="partners__logo"
    />
    <img
      src="../img/partners/good-boy-partner.jpg"
      alt="Good Boy"
      class="partners__logo"
    />
    <img
      src="../img/partners/butchers-partner.jpg"
      alt="Butcher's"
      class="partners__logo"
    />
    <img
      src="../img/partners/pedigree-partner.jpg"
      alt="Pedigree"
      class="partners__logo"
    />
  </div>
</section>
