<section class="products container">
  <h2 class="products__title">Our Products</h2>
  <div class="products__items">
    <article class="products__item">
      <img
        src="../img/products/reflex-plus-can.jpg"
        alt="Reflex Plus Adult Dog Food"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">Reflex Plus Adult Dog Food</h3>
        <p class="catalog__item-info">Product: Dog Food - Size: 385gm</p>
        <p class="products__item-price">140,000 VND</p>
        <p class="products__item-tag">Free Toy & Free Shaker</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/reflex-plus.jpg"
        alt="Reflex Plus Adult Cat Food Salmon"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">Reflex Plus Adult Cat Food Salmon</h3>
        <p class="catalog__item-info">Product: Cat Food - Size: 1.5kg</p>
        <p class="products__item-price">165,000 VND</p>
        <p class="products__item-tag">Free Toy & Free Shaker</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/scratch-ball.jpg"
        alt="Cat scratching ball toy kitten sisal rope ball"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">
          Cat scratching ball toy kitten sisal rope ball
        </h3>
        <p class="catalog__item-info">Product: Toy</p>
        <p class="products__item-price">1,100,000 VND</p>
        <p class="products__item-tag">Free Cat Food</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/cat-nest.jpg"
        alt="Cute Pet Cat Warm Nest"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">Cute Pet Cat Warm Nest</h3>
        <p class="catalog__item-info">Product: Toy</p>
        <p class="products__item-price">410,000 VND</p>
        <p class="products__item-tag">Free Cat Food</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/nature-vet.jpg"
        alt="NaturVet Dogs - Omega-Gold Plus Salmon Oil"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">
          NaturVet Dogs - Omega-Gold Plus Salmon Oil
        </h3>
        <p class="catalog__item-info">Product: Dog Food - Size: 385gm</p>
        <p class="products__item-price">350,000 VND</p>
        <p class="products__item-tag">Free Toy & Free Shaker</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/cowboy-rider-costume.jpg"
        alt="Costumes Fashion Pet Clother Cowboy Rider"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">
          Costumes Fashion Pet Clother Cowboy Rider
        </h3>
        <p class="catalog__item-info">Product: Costume - Size: 1,5kg</p>
        <p class="products__item-price">500,000 VND</p>
        <p class="products__item-tag">Free Toy & Free Shaker</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/chicken-costume.jpg"
        alt="Costumes Chicken Drumsti ck Headband"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">
          Costumes Chicken Drumsti ck Headband
        </h3>
        <p class="catalog__item-info">Product: Costume</p>
        <p class="products__item-price">400,000 VND</p>
        <p class="products__item-tag">FFree Cat Food</p>
      </div>
    </article>
    <article class="products__item">
      <img
        src="../img/products/toy-octopus.jpg"
        alt="Plush Pet Toy"
        class="products__item-image"
      />
      <div class="products__item-details">
        <h3 class="products__item-name">Plush Pet Toy</h3>
        <p class="catalog__item-info">Product: Toy</p>
        <p class="products__item-price">250,000 VND</p>
        <p class="products__item-tag">Free Toy & Free Shaker</p>
      </div>
    </article>
  </div>
  <button type="button" class="products__view-more">View more</button>
</section>
